<mat-sidenav-container
  class="drawer-container"
  [hasBackdrop]="hasBackdrop()"
  [style.height]="'100bh'"
>
  @if (positionStart()) {
    <mat-sidenav
      #startDrawerRef
      [style.width]="drawerWidthStart"
      [mode]="mode()"
      position="start"
      role="region"
      [opened]="openedStart"
      [fixedInViewport]="fixedInViewportStart()"
    >
      <ng-content select="[startSidenavDrawer]"></ng-content>
    </mat-sidenav>
  }

  <mat-sidenav-content class="drawer-content">
    <ng-content select="[sidenavContent]"></ng-content>
  </mat-sidenav-content>

  @if (positionEnd()) {
    <mat-sidenav
      #endDrawerRef
      [style.width]="drawerWidthEnd"
      [mode]="mode()"
      position="end"
      role="region"
      [opened]="openedEnd"
      [fixedInViewport]="fixedInViewportEnd()"
    >
      <ng-content select="[endSidenavDrawer]"></ng-content>
    </mat-sidenav>
  }
</mat-sidenav-container>
