<app-sidenav-drawer
  [mode]="'side'"
  [positionEnd]="true"
  [hasBackdrop]="true"
  [drawerWidthEnd]="'100%'"
  [fixedInViewportEnd]="true"
>
  <ng-container sidenavContent>
    <app-ios-header class="ios-header">
      <button
        buttonLeft
        class="ios-header-left blue"
        (click)="edit.set(!edit())"
      >
        {{ edit() ? 'Done' : 'Edit' }}
      </button>
      <button role="button" buttonRight class="ios-header-right blue">
        Add List
      </button>
    </app-ios-header>

    <app-ios-lists
      class="card"
      [lists]="lists"
      [edit]="edit()"
      (sidenavOpenState)="openSidenav($event, 'end')"
    >
      <ng-container matIconStart> </ng-container>
    </app-ios-lists>
  </ng-container>

  <ng-container endSidenavDrawer>
    <button (click)="openSidenav($event, 'end')">Close</button>
  </ng-container>
</app-sidenav-drawer>
