<!-- <section>
  <div>
    <img
      alt=""
      src="../../../../assets/icons/search_24dp_999999_FILL0_wght400_GRAD0_opsz24.svg"
    />
    <input
      aria-label="search"
      [(ngModel)]="value"
      [id]="id()"
      (keyup)="textInput.emit({ id: id(), value })"
    />
    <img
      alt=""
      src="../../../../assets/icons/mic_24dp_999999_FILL0_wght400_GRAD0_opsz24.svg"
    />
  </div>
  <button (click)="onCancel()">Cancel</button>
</section> -->

<ul>
  @for (item of list; track $index) {
    <li [style.border-bottom]="'1px solid silver'">
      {{ item.name }}
    </li>
  }
</ul>

<!-- 

      <app-ios-button
        (click)="onClick($event)"
        appTouch="horizontal"
        (appTouchEvent)="onTouch($event, 'key', $index)"
      >

      <span start2 class="text">{{ item.name }}</span>

        <button
          hiddenEnd
          [ngStyle]="{
            width: '3em',
            display: 'flex',
            overflow: 'hidden',
            maxWidth: '20%',
          }"
        >
          Remove
        </button>
      </app-ios-button>

-->
