/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './m3-theme.scss';
@use './light-theme.scss';

@include mat.core();

// reset style start
button {
  all: unset;
}
// reset style end

html {
  // Apply the light theme by default
  @include mat.core-theme(m3-theme.$light-theme);
  @include mat.button-theme(m3-theme.$light-theme);
}

body {
  background-color: ghostwhite;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding: 1rem;
}

button:focus,
button:hover,
button:disabled {
  opacity: 0.8;
}

ul {
  list-style-type: none; // remove bullet list
  padding: 0; // remove the extra left padding/margin reserved for the list item
}

li {
  line-height: 0; // remove the extra unwanted space at the bottom of li
}

.none {
  display: none;
}

.XSmall {
  color: red;
}

.Small {
  color: orange;
}

.Medium {
  color: turquoise;
}

.Large {
  color: greenyellow;
}

.XLarge {
  color: blue;
}

.blue {
  color: #1f75fe; // crayola blue
}

.darkgray {
  color: darkgray;
}
