ul,
li {
  width: 100%;
}

img {
  padding: 0.8rem 0.4rem;
}

input {
  border: none;
}

app-ios-button {
  width: 100%;
}

.list-title {
  padding-bottom: 1rem;
}

.card {
  border: 1px solid whitesmoke;
  border-radius: 0.5rem;
  background-color: white;
  overflow: hidden;
}

.icon-start {
  margin-left: 1rem;
}

.icon-end {
  margin-right: 0.5rem;
}

.icon-start,
.icon-end {
  flex-basis: 1;
}

.text {
  flex-grow: 4;
}
